body {

    font-family: "Montserrat", sans-serif;
    margin: 0;
}


img {
    width: 100%;
}

header {

    background-color: #26335D;
    padding-top: 12px;
}

.header_first {
    font-weight: 700;
    font-size: 24px;
}



.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.container {
    max-width: 1050px;
    margin: 0 auto;

    padding: 0px 12px;



}

.large {
    max-width: 1330px;
}

.headnav label{
    display: flex;
    align-items: center;
    gap: 10px;

}



.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    color: #fff;
}


.headnav {
    flex: 1;
}

.headnav ul {
    display: flex;
    margin: 0;
    padding: 0px;
    font-size: 14px;
    font-weight: 700;



}

.headnav li {
    padding: 15px;
    list-style: none;
}

.headnav ul a:hover{
    color: #E77C40;
}

.headnav a {
    text-decoration: none;
    color: #fff;
}

.banner_full {
    display: flex;
    align-items: center;

}

.first {
    background-color: #26335D;
    padding-bottom: 10px;
}


.banner_content h5 {
    color: #1BA0AB;
    margin: 0;
    font-size: 16px;
}

.banner_content h1 {
    color: #fff;
    margin: 0;
    max-width: 540px;
    font-size: 58px;
}

.banner_content h4 {
    color: #fff;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}

.banner_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;

}

.image_first {
    flex: 1;
}

.btn {

    padding: 12px 22px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: transparent;
    color: #1BA0AB;
    display: flex;
    align-items: center;
    gap: 28px
}



.btn_firsttxt {

    color: #fff;
    background-color: #26335D;
    border: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.btn_filledtxtbtn {
    color: #fff;
    background-color: #1BA0AB;
    border: 0px;
    padding: 12px 19px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    font-weight: 700;

    font-family: "Montserrat", sans-serif;
}
.btn_filledtxtbtn:hover{
    color: #26335D;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.btn_contentfillled {
    color: #fff;
    background-color: #1BA0AB;
    border: 0px;
    padding: 12px 19px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.btn_contentfillled:hover{
   color: #26335D;
}


.btn_contenttxt {
    color: #1BA0AB;
    background-color: #26335D;
    padding: 12px 19px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px;
    border-style: solid;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    border-color: #1BA0AB;
}

.content_buton {
    display: flex;
    align-items: center;
    gap: 10px;
}





















.sec {
    margin-bottom: 40px;
    margin-top: 10px;
}


.container_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_image {
    width: 50%;

}

.section_content {

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section_content h1 {
    margin: 0;
    font-size: 40px;

}

.section_content h4 {
    margin: 0;
    font-size: 14px;
    max-width: 351px;

}


.layout {
    height: 7px;
    width: 94px;
    background-color: #f69b25;

}

.h4 {
    color: #737373;
}

.learn_butn {

    background-color: #fff;
    border: 0px;
    color: #1BA0AB;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;


}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.learn_butn::after {
    content: '\e5cc';
    font-family: 'Material Symbols Outlined';
    font-size: 30px;

}




.learn_butn:hover {
    color: #f69b25;
}

.brand_content {

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    gap: 86px;

}

.brand_page {
    margin-bottom: 70px;
}

.third_full {
    padding: 10%;
}

.brand_main {
    padding-top: 10px;
}



.content h5 {
    max-width: 469px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #737373;
}


.product {
    padding-bottom: 13px;
}

.content h4 {
    max-width: 469px;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: #1BA0AB;


}

.content h1 {

    font-size: 40px;
    font-weight: 700;
    color: #252B42;
    margin: 0;

}

.content h4 h1 h5 {
    display: flex;
    flex-direction: column;
    gap: 10px;


}

.content {

    gap: 10px;
    display: flex;
    flex-direction: column;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.coversection {
    position: relative;

}

.coversection img {
    display: block;
}

.offers {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: red;
    color: #fff;
    padding: 0px 10px 0px 10px;
    border-radius: 4px;



}

.icons {

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10%;
    gap: 10px;
    width: 100%;


}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.download h3 {
    display: flex;
    align-items: center;
    margin: 0;
}

.amount {
    display: flex;
    align-items: center;
    gap: 5px;
}

.amount span {
    color: #2DC071;
    font-weight: 700;
    font-size: 16px;


}

.amount h3 {
    color: #BDBDBD;
    font-size: 16px;
    font-weight: 700;



}

.btn_contenttxt_gridbtn {
    color: #1BA0AB;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 25px;
    font-weight: 700;
    padding: 10px 20px;
    border: 1px solid #1BA0AB;
    font-size: 14px;




}


.icon_butn {
    background-color: #fff;
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;

}

.icon_butn span {
    font-size: 23px;
}



.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.rating_tag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 9px 3px 6px;
    border-radius: 30px;
    background: #26335D;

}

.rating_tag h5 {
    color: #fff;
    font-weight: 400;
}

.health {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: #1BA0AB;
}

.health h3 {
    max-width: 158px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;

}

.book {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1BA0AB;
}

.book h3 {
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;

}

.online {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1BA0AB;
}

.online h3 {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;

}


.contentsection h2 {
    font-weight: 700;
    font-size: 16px;
    margin: 0;

}

.contentsection p {
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    max-width: 280px;

}

.contentsection h6 {
    font-size: 14px;
    color: #737373;
    display: flex;
    align-items: center;

}

.course_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 49px 0px 0px 0px;

}

.grid {
    padding-top: 50px;
}

.course_grid * {
    margin: 0;
}

.contentsection {
    padding: 0px 14px 0px 14px;
    display: grid;
    gap: 10px;
    padding-top: 25px;
}

.contentsection i {
    color: #ffad31;


}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.feature {
    display: flex;
    align-items: center;
    gap: 10px;


}

.feature h2 {
    margin: 0;
    font-weight: 700;
}

.fade_feature {
    display: flex;
    align-items: center;
    gap: 10px;

}

.fade_feature h2 {
    margin: 0;
}

.fifth_full {
    padding: 10%;
}

.pricing_coursegrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 101px;
    gap: 30px;

}

.pricing_topcontent pre {
    margin: 0;
}

.pricing_grid:hover p {
    color: #fff;
}

.pricing_grid:hover {
    background-color: #26335D;
    color: #fff;
}


.dollar h3 {
    margin: 0;
    font-size: 14px;
    color: #8EC2F2;

}

.dollar h1 {
    font-size: 40px;
    color: #1BA0AB;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.icon_heart i {
    background-color: #f69b25;
    color: #fff;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

.pricing_topcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 40px 50px 40px
}

.pricing_feature {
    font-size: 9px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
}

.gridfilled_buton {
    color: #fff;
    background-color: #1ba0ab;
    border: transparent;

    padding: 15px 68px;
    border-radius: 5px;
    gap: 5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.feature span {
    background-color: #2DC071;
    color: #fff;
    border-radius: 20px;


}


.fade_feature span {
    color: #fff;
    border-radius: 20px;
    background-color: #737373;
}

.pricing_topcontent p {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 192px;
    margin: 0;
    font-size: 14px;
    color: #737373;
    font-weight: 400;

}

.pricing_topcontent {
    gap: 30px;
}

.pricing {
    padding: 117px 0px;
}



.free {
    font-size: 24px;
}

.icon2 {
    color: #fff;
    background-color: #E77C40;
    border-radius: 200px;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -44px;
    right: -31px;

}

.pricing_grid {
    box-shadow: 0px 13px 19px 0px #00000012;
    position: relative;
}

.review_people {
    display: flex;
    gap: 15px;
}

.regina {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review_grid {

    box-sizing: border-box;
    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 46px;

}

.testimonial .content h1 {
    color: #fff;

}

.testimonial .content h5 {
    color: #fff;

}





.review_coursegrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 35px;
    padding-top: 90px;


}

.review_people img {
    width: 50px;
    height: 50px;
}

.regina h3 {
    margin: 0;
    font-size: 14px;
    color: #1BA0AB;
}

.regina h4 {
    margin: 0;
    font-size: 12px;
}

.review_grid p {
    margin: 0;
    width: 162px;
    text-align: center;
}

.testimonial {
    background-color: #26335D;
    color: #fff;
    padding: 100px 0px;
}

.star_icon {
    color: #F3CD03;

}

.bottom_btn button {
    width: 117px;
    height: 52px;
    color: #fff;
    background-color: #1BA0AB;
    border-radius: 0px 5px 5px 0px;
}

.Newsletter {
    padding: 105px 0px;
}


.Newsletter .content {

    align-items: center;


}

.Newsletter .content h5 {

    text-align: center;


}

.bottom-sec h6 {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    color: #1BA0AB;
}


.bottom-sec h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
}

.bottom_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 67px
}

.bottom_btn input {

    width: 523px;
    height: 50px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #E6E6E6;
    background-color: #F9F9F9;
    padding: 0px 0px 0px 10px
}

.bottom-sec p {

    margin: 0;
    max-width: 469px;
    font-size: 14px;
    font-weight: 400;
    color: #737373;

}



.footer_above {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    gap: 30px;
    padding: 50px 0px;
}

.footer_above h5 {
    margin: 0px;
    color: #252B42;
    font-size: 16px;
    font-weight: 700;
}

.footer_above ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_info a {
    text-decoration: none;
    color: #737373;
    font-size: 14px;
    font-weight: 700;
}

.contact {
    position: relative;
}

.contact li {
    display: grid;
    grid-template-columns: 35px 1fr;
    align-items: center;
}

.contact span {
    color: #1BA0AB;
    font-size: 24px;
}

.footer_bottom {
    background: #F8F8F8;

}

.footer {
    background: #F8F8F8;
    padding: 20px 0px 20px 0px;

}



.sign {
    display: flex;
    justify-content: space-between;
}

.sign h6 {
    color: #737373;
    font-size: 14px;
    font-weight: 700;

}

.sign .media {
    display: flex;
    gap: 20px;
    align-items: center;
}

.app_icons.media a {
    color: #1BA0AB;
}

.label {
    display: none;
}

/* input {
    display: block;
} */

.navbar input {
    display: none;
}

.log {
    display: none;
}

.join {
    display: none;
}











@media screen and (min-width:929px) {
    .headnav .logbtn {
        visibility: hidden;
    }
    .headnav .joinbtn {
        display: none;
    }
    

    .dropdown ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        color: black;
        background-color: #1BA0AB;
        visibility: hidden;
        top: 35px;
        transition: all 10s ease-in-out;



    }


  


    .dropdown ul a:hover {
        color: #26335D;

    }

    .hom {
        position: relative;

    }

    .headnav ul li:hover .dropdown ul {
        visibility: visible;

    }

}

@media screen and (max-width: 1021px) {
    .brand_content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 292px;

    }
}







@media screen and (max-width: 929px) {
    .navbar{
        gap: 20px;
    }
    .first{
        padding-top: 72px;
    }
    .btn_filledtxtbtn{
        padding: 7px 10px;
        font-size: 12px;
    }
    .hed {
        position: fixed;
        width: 100%;
        z-index: 1000;

    }



    .banner_content h1 {
        font-size: 32px;
    }

    .label {
        display: block;
    }

    .headnav .inner_bar {
        position: fixed;
        flex-direction: column;
        visibility: hidden;
        top: 60px;
        z-index: 2;
        left: -100%;
        transition: all 0.3s;
        width: 200px;
        top: 60px;
        max-height: calc(100% - 60px);
        overflow: auto;

    }

    .dropdown ul {
        display: flex;
        flex-direction: column;
        color: black;
        background-color: #1BA0AB;
        visibility: hidden;
        position: absolute;
        opacity: 0;
        left: -100px;
        transition: all 0.2s ease-in-out;



    }



    #hamberg:checked~.headnav .inner_bar {
        visibility: visible;
        left: 0;
    }

    #hamberg:checked~label i::before {
        content: "\f00d";
        font-size: 20px;
    }

    #subdrop:checked~.dropdown ul {
        visibility: visible;
        left: 0px;
        position: relative;
        opacity: 1;
    }

    .headnav ul li {
        background-color: #1ba0ab;


    }
    .dropdown ul li{
          background-color: #26335D;  
    }
    .dropdown li a:hover{
        color: #1ba0ab;
    }

    .headnav a:hover {
        color: #26335D;
    }

    




}


@media screen and (max-width: 860px) {
    .brand_content {
        column-gap: 216px;
    }

    .pricing_coursegrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .icon2 {
        width: 71px;
        height: 71px;
        right: -6px;
    }

    .review_coursegrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;


    }
}


@media screen and (max-width: 721px) {
    .brand_content {
        gap: 130px;
    }

    .bottom_btn input {
        width: 320px;
    }

    .footer_above {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 648px) {

    .course_grid {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .gridfilled_buton {
        padding: 12px 29px;
    }

    .container_content {
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
    }

    .brand_content {
        column-gap: 41px;
    }


}

@media screen and (max-width: 573px) {

    .brand_content {
        gap: 68px;
    }

    .btn {
        padding-right: 0px;
    }

    .navbar {
        gap: 20px;
    }

    .header_first {
        font-size: 15px;
    }

    .btn_firsttxt {
        font-size: 12px;
    }



    .btn_contenttxt {
        font-size: 8px;
        padding: 12px 23px;
    }


    .btn_contentfillled {
        font-size: 7px;
    }

    .learn_butn {
        font-size: 11px;
    }

    .banner_content h4 {
        font-size: 12px;
    }

    .banner_content h5 {
        font-size: 13px;
    }

    /* .banner_content h1{
        font-size: 32px;
    } */
    .banner_full {
        padding-top: 38px;
        flex-direction: column;
    }

    .content {
        padding-top: 41px;
    }

    .section_content {
        padding-top: 46px;
    }

    .section_content h4 {
        font-size: 10px;
    }



    .content h1 {
        font-size: 26px;
    }

    .content h5 {
        font-size: 14pxpx;
    }
    .review_grid p{
        font-size: 12px;
    }

    .section_content h1 {
        font-size: 27px;

    }

    .offers {
        font-size: 12px;
        padding: 0px 0px 0px 10px;
    }

    .course_grid {
        grid-template-columns: 100%;
    }

    .pricing_coursegrid {
        grid-template-columns: 100%;
        gap: 63px;
    }

    .pricing {
        padding: 33px 0px;
    }



    .bottom_btn input {
        width: auto;
    }

    .bottom-sec p {
        width: auto;
        font-size: 11px;
    }

    .bottom-sec h2 {
        font-size: 33px;
    }

    .footer_above {
        grid-template-columns: 100%;

    }

    .review_grid {
        width: auto;
    }




    .sign h6 {
        font-size: 9px;
    }
    .sign{
        flex-direction: column;
    }

}  



@media screen and (max-width:410px){
      
    .log {
        display: block;
    }

    .join {
        display: block;
    }

    .btn_filledtxtbtn {
        display: none;
    }

    .btn_firsttxt {
        display: none;
    }
    .headnav .inner_bar {

       top: 40px;

}

}
    


@media screen and (min-width: 888px) {
    .log {
        visibility: hidden;
    }

    .join {
        visibility: hidden;
    }
}
